# Ambiente virtual
venv/
.env/

# Arquivos Python
__pycache__/
*.pyc

# Logs
*.log

# Excel temporário
~$*.xlsx

# Selenium / Playwright
screenshots/
downloads/

# IDEs
.vscode/
.idea/
.coverage

# Arquivos Excel de entrada e saída
data/*.xlsx
output/*.xlsx
